
div.view-banner img{
	width: auto;
	height: 455px;
}
div.view-banner .banner_background_color{
  margin-top:-5px;
}
div.view-banner div.views-content-counter{
	width: 30px;
	height: 1px;
	padding-top: 9px;
	margin: 10px 10px;
	overflow: hidden;
	background: none repeat scroll 0% 0% #DADADA;
}
div.view-banner .views_slideshow_pager_field_item{
	display: inline-block;
}
div.view-banner .active div.views-content-counter{
	background: none repeat scroll 0% 0% #70AC00;
}
div.view-banner div.views-slideshow-controls-bottom{
	margin: 0;
	padding: 0;
	width:	inherit;
	text-align: center;
}
#views_slideshow_cycle_teaser_section_banner-block{
  margin: 0 auto;
  margin-top:3px;
}
#big_bg_image{
	width: 100%;
	margin: 0 auto
}

div.ser_content div.views-row{
	text-align: center;
}
div.ser_content div.views-row div span a{

background: none repeat scroll 0% 0% #FF8400;
border-bottom: 3px solid #F06D00;
border-width: 0px 0px 3px;
border-style: none none solid;
border-color: -moz-use-text-color -moz-use-text-color #888;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
color: #FFF;
cursor: pointer;
display: inline-block;
font-size: 22px;
line-height: 14px;
padding: 13px 35px 11px;
text-align: center;
text-decoration: none;
}
div.ser_content div.views-row span a:hover{
	background: none repeat scroll 0% 0% #FFA133;
border-color: #FF7E12;
font-size: 22px;
}
.view-service-category .views-row .views-field-name {
font-size: 35px;
line-height: 35px;
}
div.ser_content .view-content{
	text-align: center;
}
div.ser_content .view-content .views-row{
	width: 280px;
	margin: 20px 0px;
	display: inline-block;
	background: none repeat scroll 0% 0% #EDEDED;
	padding: 10px;
}
div.ser_content .view-content .views-row-first{
	float: left;
}	
div.ser_content .view-content .views-row-last{
	float: right;
}
div.ser_content .view-content .views-row .views-field{
	margin: 20px 0px;
}
div.ser_content .view-content .views-row .views-field p{
	line-height: 1.8;
}
.pro_content #block-views-happycustomer-block-1{
	width: 280px;
	float: left;
}
#block-views-front-blog-block{
	width: 550px;
	border: solid 1px #CCC;
	float: right;
}
#block-views-front-blog-block .views-field-changed-1,
#block-views-front-blog-block .views-field-title-1 a{

	background: none repeat scroll 0% 0% #FF8400;
}
#block-views-front-blog-block .views-field-title-1 a{
	padding: 10px 15px;
}

#block-views-front-blog-block .views-field-changed-1{
	text-align: center;
	width: 50px;
	height: 40px;
	padding-top: 10px;
	float: left;
}
#block-views-front-blog-block .views-field-changed-1 span,
#block-views-front-blog-block .views-field-title-1 a{
	color: #FFF;
	font-weight: bold;
}
#block-views-front-blog-block .views-field-title{
	background: #D3D3D3;
}
#block-views-front-blog-block .views-field-title{
	padding-left:70px;
	line-height: 50px;

}
#block-views-front-blog-block .views-field-body{
	padding: 20px;
}
#block-views-front-blog-block .views-field-title-1 a{
	float: right;
  margin-bottom:20px;
  margin-right:20px;
}
#block-views-happycustomer-block-1 .views-field-body {
background: url(images/happy_bg.png) no-repeat 0 0;
width: 260px;
height: 140px;
padding: 10px;
float: right;
}

#block-views-happycustomer-block-1 .views-field-title {
float: right;
margin-right: 90px;
}
#block-views-happycustomer-block-1 .views-field-field-company-name {
float: right;
clear: both;
margin-right: 90px;
}
#block-views-happycustomer-block-1 .views-field-field-user-image {
margin-top: -35px;
float: right;
padding-left: 190px;
}
#block-block-11{
	float: left;
  width:290px;
}
#block-webform-client-block-145{
	width: 295px;
  float:right;
}

.getdirections_form input.form-text,
#block-webform-client-block-145 input.form-text{
  width:283px;
}
#block-webform-client-block-145 #edit-actions{
  float:right;
}
.s-cotnent .block{
	float: left;
}

#getdirections-direction-form{
width: 295px;
position: absolute;
margin-left: 300px;
}
#getdirections-direction-form h2 span{
color:#F00;
}
#getdirections_directions div.adp{
//position: absolute;
height:200px;
overflow:auto;
width:900px;
background:#FFF;
//margin-top:30px;
}
#getdirections_directions {
width: 905px;
padding:0;
}
.form-item input{
padding: 0.5em 1em;
border: 1px solid rgb(229, 229, 229) !important;
//margin-bottom: 1.5em;
border-radius: initial;
box-shadow: initial; 
padding: 5px;
font-size: 13px;
color: #555;
 background: #f3f4f5; 
border: 1px solid #ccc;
}
#edit-actions input,
#getdirections_btn input{
background-color: #FFA132;
text-transform: uppercase;
font-weight: 600;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 0px;
color: rgb(255, 255, 255) !important;
text-align: center;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
padding: 0.8em 1.5em;
}
.getdirections_form input{
  width:100%;
}
#block-block-20{
float:none;
background:#FFA132;
padding:10px 0;
padding-left:15px;
margin-bottom:-8px;
border: solid 1px #FFA132;
color:#FFF;
}
#block-block-20 p{
margin:0;
}
#block-block-11 ul{
  list-style-type:none;
  padding:0;
}

#block-block-11 span.visit{
  background:url(images/visit.png) no-repeat;
}
#block-block-11 span.call{
  background:url(images/call.png) no-repeat;
}
#block-block-11 span.email{
  background:url(images/email.png) no-repeat;
}
#block-block-11 span.visit,
#block-block-11 span.call,
#block-block-11 span.email{
  padding-left:40px;
  background-size:40px 40px;
}





#block-views-tertimonials-and-blog-block .view-content{
  float:right;
  width:750px;
//background: url(images/testimonials-bg.jpg);
background: none repeat scroll 0% 0% #FF8400;
  }
 #block-views-tertimonials-and-blog-block .views-field-field-user-image{
float:right;
margin:0;

}
 #block-views-tertimonials-and-blog-block .views-field-field-user-image img{
  width:150px;
  height:auto;
  margin-bottom:-4px;
opacity: 0.5;
}
 #block-views-tertimonials-and-blog-block .views-field-body{
position: absolute;
margin-left:-450px;
height:360px;
font-size:23px;
padding:20px;
padding-top:0;
background: none repeat scroll 0% 0% #FF8400;
font-family:serif;
font-weight: 300;
font-style: italic;
line-height: 1.4;
color:#FFF;
width:410px;
overflow:hidden;
background-image: url(images/quote-mark.png);
background-repeat: no-repeat;
background-position: 5px 10px;
}
#block-views-tertimonials-and-blog-block .views-field-field-company-name .field-content{
background: url(images/service-text2.png) no-repeat 0 center;
background-size: 15px 20px;
padding-left: 20px;
}
#block-views-tertimonials-and-blog-block .views-field-field-company-name .field-content span{
  color:#797979;
}
#block-views-tertimonials-and-blog-block .views-field-field-company-name{
position: absolute;
margin-top:300px;
height:80px;
width:750px;
background-color: #111;
color: #FFF;
line-height:80px;
text-transform: capitalize;
font-size:20px;
}
.aboutus_developer{
background: url(images/testimonials-bg.jpg);
}
#block-views-tertimonials-and-blog-block .item-list ul{
display:none;
}

#block-views-tertimonials-and-blog-block .view-header{
text-align:center;
color:#FFF;
margin-bottom:60px;
font-size:20px;
}
