#views_slideshow_cycle_main_taxonomy_term-page{
width:70%;
float:right;
padding:15px;
background:#FFF;
}
.views-slideshow-controls-top{
  width:240px;
float:left;
}
.view-taxonomy-term .views-slideshow-pager-field-item{
border-bottom: 1px solid #ccc;
margin:0;
padding:10px;
}

.view-taxonomy-term .views-slideshow-pager-field-item .views-content-title{

background: url(images/service-text.png) no-repeat right;
display: block;


}
.view-taxonomy-term .views-slideshow-pager-field-item.active{
background: #FFF;
}
.s-cotnent .block {
float: left;
border: 1px solid #CCCCCC;
margin: 10px 0;
position: relative;
width: 900px;
box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
overflow: hidden;
background:#F2F2F2;
}
div.view-banner img{
  width: 100%;
  height: auto;
  min-width:1300px;
}
.view-banner .view-content #views_slideshow_cycle_main_banner-block{
  background-color:rgb(140, 140, 140);
  height:auto;
}
div.view-banner div.views-content-counter{
  width: 30px;
  height: 1px;
  padding-top: 9px;
  margin: 10px 10px;
  overflow: hidden;
  background: none repeat scroll 0% 0% #DADADA;
}
div.view-banner .views_slideshow_pager_field_item{
  display: inline-block;
}
div.view-banner .active div.views-content-counter{
  background: none repeat scroll 0% 0% #000;
}
div.view-banner div.views-slideshow-controls-bottom{
  margin: 0;
  padding: 0;
  width:	inherit;
  text-align: center;
}
#views_slideshow_cycle_teaser_section_banner-block{
  margin: 0 auto;
  margin-top:0px;
}
#big_bg_image{
  width: 100%;
  margin: 0 auto
}
.views-slideshow-cycle-main-frame-row-item {
  display:block;
}
div.ser_content div.views-row{
  text-align: center;
}
div.ser_content div.views-row .views-field-name span a{
  background: none repeat scroll 0% 0% #FF8400;
  border-bottom: 3px solid #F06D00;
  border-width: 0px 0px 3px;
  border-style: none none solid;
  border-color: -moz-use-text-color -moz-use-text-color #888;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  line-height: 14px;
  padding: 13px 35px 11px;
  text-align: center;
  text-decoration: none;
}
div.ser_content div.views-row .views-field-name span a:hover{
  background: none repeat scroll 0% 0% #FFA133;
  border-color: #FF7E12;
  font-size: 22px;
}
.banner_background_color{
  width:100%;
}
div.ser_content div.views-row .detail{
  //	position:absolute;
  //	bottom: 45px;
  width: 370px;
}

.ser_content .views-row .views-field-name-1,
.ser_content .views-row .views-field-name {
  font-size: 35px;
  line-height: 35px;
}

.ser_content .views-row .views-field-name-1,
.ser_content .views-field-name{
  height:70px;
}

.ser_content .views-field-name-1{

}
.ser_content .views-field-description{
  height:130px;
}
.ser_content .views-field-detail{
}

div.ser_content .view-content{
  text-align: center;
}
div.ser_content .view-content .views-row{
  width: 370px;
  height: 400px;
  margin: 20px 0px;
  display: inline-block;
  background: none repeat scroll 0% 0% #EDEDED;
  padding: 10px;
}
div.ser_content .view-content .views-row-first{
  float: left;
}	
div.ser_content .view-content .views-row-last{
  float: right;
}
div.ser_content .view-content .views-row .views-field{
  margin: 20px 0px;
}
div.ser_content .view-content .views-row .views-field p{
  line-height: 2em;
}
.pro_content #block-views-happycustomer-block-1{
  width: 280px;
  float: left;
}
#block-views-front-blog-block{
  width: 550px;
  border: solid 1px #CCC;
  float: right;
}
#block-views-front-blog-block .views-field-changed-1,
#block-views-front-blog-block .views-field-title-1 a{

  background: none repeat scroll 0% 0% #FF8400;
}
#block-views-front-blog-block .views-field-title-1 a{
  padding: 10px 15px;
}

#block-views-front-blog-block .views-field-changed-1{
  text-align: center;
  width: 50px;
  height: 40px;
  padding-top: 10px;
  float: left;
}
#block-views-front-blog-block .views-field-changed-1 span,
#block-views-front-blog-block .views-field-title-1 a{
  color: #FFF;
  font-weight: bold;
}
#block-views-front-blog-block .views-field-title{
  background: #D3D3D3;
}
#block-views-front-blog-block .views-field-title{
  padding-left:70px;
  line-height: 50px;

}
#block-views-front-blog-block .views-field-body{
  padding: 20px;
}
#block-views-front-blog-block .views-field-title-1 a{
  float: right;
  margin-bottom:20px;
  margin-right:20px;
}
#block-views-happycustomer-block-1 .views-field-body {
  background: url(images/happy_bg.png) no-repeat 0 0;
  width: 260px;
  height: 140px;
  padding: 10px;
  float: right;
}

#block-views-happycustomer-block-1 .views-field-title {
  float: right;
  margin-right: 90px;
}
#block-views-happycustomer-block-1 .views-field-field-company-name {
  float: right;
  clear: both;
  margin-right: 90px;
}
#block-views-happycustomer-block-1 .views-field-field-user-image {
  margin-top: -35px;
  float: right;
  padding-left: 190px;
}
#block-block-11{
  float: left;
  width:290px;
}
#block-webform-client-block-145{
  width: 295px;
  float:right;
}

.getdirections_form input.form-text,
#block-webform-client-block-145 input.form-text{
  width:283px;
}
#block-webform-client-block-145 #edit-actions{
  float:right;
}
.s-cotnent .block{
  float: left;
}

#getdirections-direction-form{
  width: 295px;
  position: absolute;
  margin-left: 300px;
}
.page-getdirections-location-to-147 h2 span{
  color:#F00;
}
#getdirections_directions div.adp{
  //position: absolute;
  height:200px;
  overflow:auto;
  width:900px;
  background:#FFF;
  //margin-top:30px;
}
#getdirections_directions {
  width: 905px;
  padding:0;
}
.form-item input{
  padding: 0.5em 1em;
  border: 1px solid rgb(229, 229, 229);
  //margin-bottom: 1.5em;
  border-radius: 3px;
  box-shadow: initial; 
  padding: 5px;
  font-size: 13px;
  color: #555;
  background: #f3f4f5; 
  border: 1px solid #ccc;
}
#edit-actions input,
#getdirections_btn input{
  margin-top:21px;
  background-color: #FFA132;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  color: rgb(255, 255, 255) !important;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 0.8em 1.5em;
}
.getdirections_form input{
  width:100%;
}
#block-block-20{
  float:none;
  background:#FFA132;
  padding:10px 0;
  padding-left:15px;
  margin-bottom:-8px;
  border: solid 1px #FFA132;
  color:#FFF;
}
#block-block-20 p{
  margin:0;
}
#block-block-11 ul{
  list-style-type:none;
  padding:0;
}

#block-block-11 span.visit{
  background:url(images/visit.png) no-repeat;
}
#block-block-11 span.call{
  background:url(images/call.png) no-repeat;
}
#block-block-11 span.email{
  background:url(images/email.png) no-repeat;
}
#block-block-11 span.visit,
#block-block-11 span.call,
#block-block-11 span.email{
  padding-left:40px;
  background-size:40px 40px;
}
.captcha img{
  width:90px;
  margin-top: 20px;
  margin-left: 120px;
  position: absolute;
  height:auto;
}
.captcha #edit-captcha-response{
  width:100px;
}




#block-views-tertimonials-and-blog-block .view-content{
  float:right;
  width:750px;
  //background: url(images/testimonials-bg.jpg);
  background: none repeat scroll 0% 0% #FF8400;
}
#block-views-tertimonials-and-blog-block .views-field-field-user-image{
  float:right;
  margin:0;

}
#block-views-tertimonials-and-blog-block .views-field-field-user-image img{
  width:150px;
  height:auto;
  margin-bottom:-10px;
  opacity: 0.5;
}
#block-views-tertimonials-and-blog-block .views-field-body{
  position: absolute;
  margin-left:-450px;
  height:360px;
  font-size:23px;
  padding:20px;
  padding-top:0;
  background: none repeat scroll 0% 0% #FF8400;
  font-family:serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  color:#FFF;
  width:410px;
  overflow:hidden;
  background-image: url(images/quote-mark.png);
  background-repeat: no-repeat;
  background-position: 5px 10px;
}
#block-views-tertimonials-and-blog-block .views-field-field-company-name .field-content{
  background: url(images/service-text2.png) no-repeat 0 center;
  background-size: 15px 20px;
  padding-left: 20px;
}
#block-views-tertimonials-and-blog-block .views-field-field-company-name .field-content span{
  color:#797979;
}
#block-views-tertimonials-and-blog-block .views-field-field-company-name{
  position: absolute;
  margin-top:300px;
  height:80px;
  width:750px;
  background-color: #111;
  color: #FFF;
  line-height:80px;
  text-transform: capitalize;
  font-size:20px;
}
.aboutus_developer{
  background: url(images/testimonials-bg.jpg);
}
#block-views-tertimonials-and-blog-block .item-list ul{
  display:none;
}

#block-views-tertimonials-and-blog-block .view-header{
  text-align:center;
  color:#FFF;
  margin-bottom:60px;
  font-size:20px;
}
.float_qq{
  position: fixed;
  top: 150px;
  right: -374px;
  background-color: #474747;
  border-radius: 4px;
  z-index: 500;
}
.float_qq .form-item input{
  width: 100%;
}

.float_qq .form-item input:focus{
  border:1px solid #ffa132;
}
.float_qq .form-item{
  margin-top: 0;
  width: 330px;
}
.float_qq .form-item .form-textarea-wrapper{
  width: 341px;
}
.float_qq #block-yeaohpm-yeaohpm-project-request{
  padding: 65px 15px 15px;
  background-color: #474747;
  z-index: 0;
  border-radius: 3px;
}
#block-block-21{
  z-index:1;
}
.float_qq .quick_quote,
.float_qq .quick_quote2{
  //position: absolute;
  height: 50px;
  display:block;
}
.float_qq .quick_quote{
  width: 149px;
  background: url(images/contact.png) no-repeat;
  margin-left: -149px;
  z-index: -100;
  position: absolute;
}
.float_qq .quick_quote2{
  width: 374px;
  background:url(images/open_qq.png) no-repeat;
}
.float_qq .quick_quote2,
.float_qq .quick_quote{
  float: left;
}



#getdirections_btn{
  margin-top:55px;
}
#block-yeaohpm-yeaohpm-project-request .form-item-captcha-response{
  color:#fff;
}
#block-views-example-block-block h2{
  font-size:72px;
  color: #FF7E12;
}
.view-example-block .example-show{
  float:left;
  margin:40px 70px;
}
.view-example-block .example-box{
  background:#fff;
  width:1200px;
}
.view-example-block .show-left .left-box{
  width: 135px;
  height: 173px;
  overflow:hidden;
  margin: 20px 0 0 13px;
}
.view-example-block .show-left img{
  width:100%;
  height:auto;
}
.view-example-block .show-left{
  width:163px;
  height:221px;
  overflow:hidden;
  background:url(images/cases-ipad.png) no-repeat;
  background-size:100%;
  margin-top:105px;
}
.view-example-block .show-center img{
  width:100%;
  height:auto;
}
.view-example-block .show-center{
  height:389px;
  width:560px;
  overflow:hidden;
  background:url(images/cases-xiashi.png) no-repeat;

  background-size:100%;
  margin:40px;
}
.view-example-block .show-center .center-box{
  width:516px;
  height:291px;
  overflow:hidden;
  margin:23px 0 0 22px;
}
.view-example-block .show-right img{
  width:100%;
  height:auto;
}
.view-example-block .show-right{
  height:184px;
  width:92px;
  overflow:hidden;
  background:url(images/cases-phone.png) no-repeat;
  background-size:100%;
  margin-top:125px;
}
.view-example-block .show-right .right-box{
  width:82px;
  height:123px;
  overflow:hidden;
  margin:30px 0 0 5px;
}
.view-example-block .title{
  font-size: 30px;
  font-weight: bold;

}

.view-example-block .link a{

  color: #272822;
  font-size: 22px;
  font-weight: bold;
}

.work li:before {
  color: #F6BF00;
  content: "■ ";
  font-size: 15px;
  vertical-align: top;
}

.float_qq #edit-submit{
  background: none repeat scroll 0 0 #FFA132;
  border: medium none;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
  padding: 5px 15px;
  border-radius: 10px;
  text-align: center;
}

.screen{
  height: 450px;
  position: relative;
  width: 640px;
  background: #eee url(images/screen.png) center center no-repeat;
  width:640px;
}
.screen {
  margin: 0 auto;
}
.screen img {
  left: 81px;
  top: 37px;
  width: 100%;
}
.leftSlide{
  float:left;
}
.rightSlide{
  float:right;
  width: 440px;
  padding: 20px;
  color:#333;
}
#views_slideshow_cycle_main_example_block-block_1 {
  width:1120px;
  margin:0 auto;
  padding:0 40px;
}
.screen .show{
  width: 473px;
  display: block;
  height: 269px;
  overflow:hidden;
  padding-top: 38px;
  padding-left: 83px;
}
.views-slideshow-controls-top .views-slideshow-controls-text-previous a,

.views-slideshow-controls-top .views-slideshow-controls-text-next a{
  display: block;
  height: 1px;
  overflow: hidden;
  padding-top: 75px;
  width: 40px;
  position: absolute;
  margin-top: 200px;
}

.views-slideshow-controls-top .views-slideshow-controls-text-next a{
  background: url(images/controls.png) no-repeat -38px -84px;
  right:0;
}
.views-slideshow-controls-top .views-slideshow-controls-text-previous a{
  background: url(images/controls.png) no-repeat 0 -84px;
  left:0;
}

.views-slideshow-controls-top .views-slideshow-controls-text-pause a{
  display:none;
}
#block-views-example-block-block-1 .views-slideshow-controls-bottom img{
  width:270px;
  height:auto;
}
.views-slideshow-pager-field-item{
  margin:15px 0;
  margin-left:40px;
}

#views_slideshow_pager_field_item_bottom_example_block-block_1_0,
#views_slideshow_pager_field_item_bottom_example_block-block_1_4{
  margin-left:0;
}
#block-views-example-block-block-1 .views-slideshow-pager-field-item{
  float:left;
  text-align:center;
}

#block-views-example-block-block-1 .views-slideshow-pager-field-item .views-field-title .views-content-title{ 
  display:none;

}

#block-views-example-block-block-1 .active .views-field-title .views-content-title{ 
  background: rgba(0, 0, 0, 0.39);
  color:#FFF;
  height: 140px;
  width: 270px;
  padding-top:100px;
  display: block;
  margin-top:-250px;
  position: absolute;
  font-size:22px;
  font-weight:bold;
}
.view-meet-your-team .views-slideshow-pager-field-item{
  margin-bottom:0;
  margin-left:50px;
  padding-bottom:30px;
  float:left;
  text-align:center;
}

.view-meet-your-team .views-slideshow-pager-field-item.active{
  background: url(images/arrow.png) no-repeat center bottom;

}
.view-meet-your-team .views-slideshow-controls-top .views-slideshow-pager-field-item{
  float:left;
}
#views_slideshow_cycle_main_meet_your_team-block{

  background-color: rgb(244, 244, 244);
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  padding: 40px;
  font-size: 18px;
  margin-bottom: 30px;

}
#footer .block{
  width: 50%;
  padding: 0;
  margin: 0;
}
#footer ul,
#footer p{
  padding:0;
  margin:0;
}
.title_css.left{
  display: inline-block;
  margin-right: 50px;
  height: 22px;
  padding: 0 10px;
  width: 193px;
  background: url("images/title_decoration.png") top left no-repeat;
}
#views_slideshow_cycle_main_example_block-block_1{
  background:#fff;
}
.protfolio{
  padding-bottom:30px;
}
.protfolio h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 116%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color:#333;
}
.title_css.right{
  display: inline-block;
  margin-left: 50px;
  height: 22px;
  padding: 0 10px;
  width: 193px;
  background: url("images/title_decoration.png") center -78px no-repeat;
}
.team{
  float:left;
  background: #CACACA;
  width: 880px;
  margin: 10px 0;
  padding:10px;
  border-radius: 5px;
}
.team-title{
  text-align: center;
  float:left;
}
.team-body-box .team-body-content{
}
.team-body-box{
  padding: 0 15px;
  width: 77%;
  float: right;
  height: 200px;
  background: #FFF;
}

.region-left .block-menu{
  background: url(images/left_menu_bg.png) no-repeat;
  padding-bottom:50px;

  background-size: 100% 100%;
}
.region-left .block-menu .nolink{
  color: #ffa123;
}

.region-left .block-menu .nolink{
  border-color: #DAE0E5;
  border-style: solid;
  border-width: 0 4px 0 0;
  width: 100%;
  display: block;
}
.title_css.region_left{
  display: inline-block;
  float:right;
  height: 30px;
  width: 100px;
  background:url("images/style_withe.jpg") center center repeat-x;
}
.region-left h2{
  background: url("images/style_withe.jpg") center center repeat-x;
}

.region-left h2 .title{
  background: #fff;
  padding-right: 30px;
  text-transform:uppercase;
  color: #000;
  font-family: 'Fjalla One',sans-serif;
}

.region-left .block-menu h2{
  background: none;
}

.region-left .block-menu h2 .title{
  background: #fff;
  padding-right: 30px;
  text-transform:uppercase;
  color: #FFA132;
  font-family: 'Fjalla One',sans-serif;
}


.region-left .block-menu ul {
  padding-left:10px;

}

.region-left .block-menu ul li{
  list-style-image: none;
  list-style-type: none;
}

.region-left .block-menu li.expanded ul.menu{
  padding-left:20px;

}
.region-left .block-menu ul.menu li.leaf{

  list-style-image: url(images/sidenav_d.png);
}
.region-left .block-menu ul.menu li.leaf:hover{

  list-style-image: url(images/sidenav_a.png);
}

.region-left .block-menu ul.menu li.leaf:hover a{
  color: #0f70bb;
}
.region-left .block-menu ul.menu li.leaf.active-trail{


  list-style-image: url(images/sidenav_a.png);
}
.region-left .block-menu ul li a{
  color:#555555;
}

.region-left .block-menu ul li a.active{

  color: #0f70bb;
}

.shadow-wrap {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D1D1D1;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  padding: 20px;
}
.col-sm-6 {
  width: 570px;
  float: left;
}
.views-row-2 .col-sm-6{

  float:right;
}
.item-thumbs {
  cursor: pointer;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  height:233px;
  width:528px;
}
.item-thumbs img {
  display: block;
  position: relative;
  transition: transform 0.4s ease-out 0s;
  width: 100%;
  height: auto;
}
.icon-left {
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  background: #ffa132;
  text-align: center;
  color: #FFF;
  font-weight: 700;
  float: left;
  overflow: hidden;
}

.blog-wrap .icon-left span {
  padding: 12px 0 0 0;
  display: block;
  line-height: 20px;
  font-size: 22px;
}
.blog-wrap .icon-left span span {
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
}

.blog-text {
  padding: 0 0 0 25px;
  overflow: hidden;
}
.blog-text h3{
  margin:0;
}

.front .content .address1 p{
  margin:0;
}


.detail .detail-item{
  margin:0 5px;
}
.detail .detail-item,
.my-btn {
  display: inline-block;
}
.detail .detail-item,
.my-btn.bordered {
  padding:0 8px;
  background: none;
  border: 1px solid #cccccc;
  color: #999999;
}
.detail .detail-item a,
.my-btn.bordered a{
  color: #CCC;
  font-weight:bold;
}

.detail .detail-item:hover,
.my-btn.bordered:hover{
  border: 1px solid #ffa132;
}

.detail .detail-item:hover a,
.my-btn.bordered:hover a{
  color:#ffa132;
}
.meta span.username{
  margin-right:10px;
}
.fa.fa-user {
  background: url(images/user.png) center center;
  height: 17px;
  width: 17px;
  display: inline-block;
  background-size: 100%;
  margin-right:5px;
}
.fa.fa-comment {
  background: url(images/chat.png) center center;
  height: 17px;
  width: 17px;
  display: inline-block;
  background-size: 100%;
}
#block-block-2 .content{
  text-align:right;
}
.webform-client-form label{
  color:#ffa132;
}

.webform-client-form label.option{
  color:#000;
}

#backtotop{
  bottom:40px;
}
